version: "3.9"

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      # Router HTTP que matchea el host
      - "traefik.http.routers.${APP_NAME}.entrypoints=web"
      - "traefik.http.routers.${APP_NAME}.rule=Host(`${APP_NAME}.ovh.moir.cl`)"
      # Backend: usar el puerto HTTP interno de Portainer (9000)
      - "traefik.http.services.${APP_NAME}.loadbalancer.server.port=9000"

networks:
  proxy:
    external: true
