version: "3.9"

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${APP_NAME}.entrypoints=web"
      - 'traefik.http.routers.${APP_NAME}.rule=Host(`${APP_NAME}.ovh.moir.cl`)'
      - "traefik.http.services.${APP_NAME}.loadbalancer.server.port=9443"
    healthcheck:
      test: ["CMD", "curl", "-kfsS", "https://localhost:9443/api/status"] # chequeo de API interna
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 40s

networks:
  proxy:
    external: true
