version: "3.9"

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${APP_NAME}.tls=true"
      - "traefik.http.middlewares.${APP_NAME}-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.${APP_NAME}.middlewares=${APP_NAME}-redirect"
      - "traefik.http.routers.${APP_NAME}.entrypoints=web"
      - 'traefik.http.routers.${APP_NAME}.rule=Host(`${APP_NAME}.ovh.moir.cl`)'
      - "traefik.http.services.${APP_NAME}.loadbalancer.server.port=9443"

networks:
  proxy:
    external: true
